django
django-cms
south
werkzeug
docutils
feedparser
django-registration
django-profiles
easy-thumbnails
django-filer
cmsplugin-filer
django-debug-toolbar
django-extensions
django-chart-tools
django-sentry
django-admin-tools
django-appmedia
django-reversion
pygments
django-staticfiles
django-haystack
fabric
whoosh